* {
	font-family: 'Yantramanav', sans-serif;
	margin: 0px;
	box-sizing: border-box;
}

a { 
	text-decoration: none;
	color: white;
}

.menu_navegação {
	text-align: center;
	text-decoration: none;
	position: relative;
	background-color: black;
	height:100px;
}

.li_menu, .logo {
	text-transform: uppercase;
	margin-right: 20px;
	margin-left: 20px;
	display:inline-block;
}

.logo {
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 5px;
	float:left;
	padding-bottom: 15px;
	margin-top:13px;
	padding: 20px 0px;
}

.li_menu {
	margin-top: 43px;
	font-size: 18px;
	padding: 17px 0px;
	font-weight: 100;
	letter-spacing: 3px;
}

.li_menu:hover, .logo:hover {
	background-color: #007EB2;
	color: black;
	opacity:0.8;
} 

.portfolio {
	color: #FFF ;
	list-style-type: none;
	float:left;
}

.li_portfolio {
	width: 360px;
	height: 100px;
	margin-bottom: 3px;
	font-weight: 500;
	font-size:30px;
	vertical-align: middle;
	list-style-type:none;
	color:black;
	background-color: #00A2E5;
	opacity:0.8;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	border-radius:10px;
}

.div {
	margin-bottom: 4px;
	color:white;

}

h3 {
	padding-left: 10px;
	padding-top: 10px;
}
h4{
	text-align: left
}

.slider {
    width: auto;
    margin: 10px 50px;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 160px;
    height: 130px;
}

.slick-prev:before, .slick-next:before {
    color: white;
}


.slick-slide {
    transition: all ease-in-out .2s;
    opacity: .2;
}
    
.slick-active {
    opacity: .5;
}

.slick-current {
    opacity: 1;
}

.design{
	display: block ;
}

.comunicacao{
	display: block;
}

.programacao{
	display:block;
}

.eletronica{
	display:block;
}

.modelagem{
	display:block;
}

button {
	color: white;
	background-color: black;
}

img:hover {
	background-color: white;
}
.tudo{
	background-color: #004866
}