* {
	font-family: 'Yantramanav', sans-serif;
	margin: 0px;
}

a { 
	text-decoration: none;
	color: white;
}

.menu_navegação {
	text-align: center;
	text-decoration: none;
	position: relative;
	background-color: black;
	height:100px;
}

.li_menu, .logo {
	text-transform: uppercase;
	margin-right: 20px;
	margin-left: 20px;
	display:inline-block;
}

.logo {
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 5px;
	float:left;
	padding-bottom: 15px;
	margin-top:13px;
	padding: 20px 0px;
}

.li_menu {
	margin-top: 43px;
	font-size: 18px;
	padding: 17px 0px;
	font-weight: 100;
	letter-spacing: 3px;
}

.li_menu:hover, .logo:hover {
	background-color: #007EB2;
	color: black;
	opacity:0.8;
} 

.sobre {
	display:inline-block;
	float:center;
	position: relative;
}

img {
	width: 25%;
	overflow: hidden;
	box-shadow: 0 0 5px rgba(0,0,0,.3);
	float:center;
	margin-left:auto;
	position: relative;
	margin-top:30px;
	margin-left: 30px;
	}

#lista_infos {
	color:#E75200;
}

h4 {
	color:white;
}

#texto_sobre {
	text-align: justify;
	position: relative;
}

.sobre_infos {
	list-style-type: none;
	color:white;
	margin-right:30px;
}

.Fundo {
	background-color: #004866;
}

#titulo {
	margin-top: 5px; 
	color: white;
}

h2 {
	color:white;
}

.avatar {
	width: 20%;
	border-radius: 100%;
	overflow: hidden;
	box-shadow: 0 0 5px rgba(0,0,0,.3);
	float:center;
	margin-left:550px;
	position: relative;
	}
}