* {
	font-family: 'Yantramanav', sans-serif;
	margin: 0px;
}

a { 
	text-decoration: none;
	color: white;
}

.menu_navegação {
	text-align: center;
	text-decoration: none;
	position: relative;
	background-color: black;
	height:100px;
}

.li_menu, .logo {
	text-transform: uppercase;
	margin-right: 20px;
	margin-left: 20px;
	display:inline-block;
}

.logo {
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 5px;
	float:left;
	padding-bottom: 15px;
	margin-top:13px;
	padding: 20px 0px;
}

.li_menu {
	margin-top: 43px;
	font-size: 18px;
	padding: 17px 0px;
	font-weight: 100;
	letter-spacing: 3px;
}

.li_menu:hover, .logo:hover {
	background-color: #007EB2;
	color: black;
	opacity:0.8;
} 

.sobre {
	display:inline;
	float:center;
}

.avatar {
	width: 15%;
	border-radius: 100%;
	overflow: hidden;
	box-shadow: 0 0 5px rgba(0,0,0,.3);
	margin: 10px;
	border: 10px 10px;
}

h3 {
	color:black;
}

.texto_sobre {
	margin-left: 250px;
	margin-right: 150px;
	text-align: justify;
}