* {
	font-family: 'Raleway', sans-serif;
}

.menu_navegação {
	text-align: center;
	text-decoration: none;
	border-bottom: none;
	position: relative;

}

li-menu, li.menu span {
  font-weight: 400;
  letter-spacing: 2px;
  padding: 20px 0px;
  text-transform: uppercase;
  margin-right: 20px;
  margin-left: 20px;
  display:inline-block;
  text-align: center;
}



.logo {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 4px;
  padding: 0px 50px;
}

.menu_lateral {
    color: #FFF;
}
    .Habilidade-geral {
        width: 25%;
        height: 150px;
    }
    .Habilidade-Oral {
        background-color: #FAA116;
    }
    .Habilidade-Programação {
        background-color: #57C7C3;
    }
    .Habilidade-Modelagem {
        background-color: #3B97D3;
    }