* {
  font-family: 'Yantramanav', sans-serif;
  margin: 0px;
}

.menu_navegação {
	text-align: center;
	text-decoration: none;
	position: relative;
  background-color: black;
  height:100px;
  }

.li_menu, .logo {
  font-weight: 100;
  letter-spacing: 2px;
  padding: 20px 0px;
  text-transform: uppercase;
  margin-right: 20px;
  margin-left: 20px;
  display:inline-block;
  }

a { 
  text-decoration: none;
 }


.logo {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 5px;
  float:left;
  padding-bottom: 15px;
  margin-top:13px;
  }

  .li_menu {
    margin-top: 39px;
  }

  .li_menu:hover, .logo:hover {
    background-color: #9F8879;
  } 

.menu_lateral {
    color: #FFF ;
    list-style-type: none;
    float:right;
    margin-top:1px;
}
    .Habilidade-geral {
        width: 360px;
        height: 148.5px;
        margin-bottom: 1px;
        font-weight: 100;
        font-size:20px;
        list-style-type:none;
    }
    .Habilidade-Oral {
        background-color: #523826;
    }
    .Habilidade-Programação {
        background-color:#523826;
    }
    .Habilidade-Modelagem {
        background-color: #523826;
    }
    .Habilidade-Design {
        background-color:#523826;
    }

body{
  background-color: #CBEAEB;
}